*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fortnite-deep-blue: #4c51f7;
  --fortnite-gradient-blue: #000475;
  --fortnite-light-blue: #6db8fa;
  --fortnite-purple: #9d4dbb;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p,
div,
a {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "fortniteFont";
  src: url(./fonts/fortnite_font.ttf) format("truetype");
}

html {
  font-family: "fortniteFont";
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "navbar main";
  grid-template-columns: 500px 1fr;
  grid-template-rows: 20vh 100%;
}

main {
    background: radial-gradient(#4147fc 60%, var(--fortnite-gradient-blue) 100%);
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.all-items {
  color: white;
  min-width: 100%;
  padding: 20px;
  font-size: 3rem;
  font-style: italic;
  
}

.card-container {
  min-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


