.weapon-update-form {
  display: grid;

  grid-template-areas:
    "input-name1 input1"
    "input-name2 input2"
    "input-name3 input3"
    "input-name4 input4"
    "input-name5 input5"
    "input-name6 input6"
    "input-name7 input7"
    "input-name8 input8"
    "input-name9 input9"
    "input-name10 input10"
    "input-name11 input11"
    "input-name12 input12"
    "submit submit";

  row-gap: 20px;
  column-gap: 250px;
  font-family: fortniteFont;
}

input,
select {
  font-family: fortniteFont;
  font-size: 2rem;
}

label {
  color: white;
  font-size: 2rem;
}

input {
  width: 500px;
}

.amount-label {
  grid-area: input-name1;
}

#amount {
  grid-area: input1;
}

.item-name-label {
  grid-area: input-name2;
}

#item-name {
  grid-area: input2;
}

.item-category-label {
  grid-area: input-name3;
}

#item-category {
  grid-area: input3;
}

.item-rarity-label {
  grid-area: input-name4;
}

#item-rarity {
  grid-area: input4;
}

.bullet-type-label {
  grid-area: input-name5;
}

#bullet-type {
  grid-area: input5;
}

.mag-size-label {
  grid-area: input-name6;
}

#mag-size {
  grid-area: input6;
}

.damage-label {
  grid-area: input-name7;
}

#damage {
  grid-area: input7;
}

.dps-label {
  grid-area: input-name8;
}

#dps {
  grid-area: input8;
}

.crit-label {
  grid-area: input-name9;
}

#crit {
  grid-area: input9;
}

.fire-rate-label {
  grid-area: input-name10;
}

#fire-rate {
  grid-area: input10;
}

.reload-time-label {
  grid-area: input-name11;
}

#reload-time {
  grid-area: input11;
}

.weapon-update-form > .img-link-label {
  grid-area: input-name12;
}

.weapon-update-form > #img-link {
  grid-area: input12;
}

.form-submit {
  font-family: fortniteFont;
  grid-area: submit;
  padding: 20px;
  position: relative;
  z-index: 10;
  font-size: 3rem;
}

.form-submit:hover {
  color: white;
  transition: color 0.5s;
}

.form-submit::before {
  content: "";
  width: 103%;
  height: 120%;
  left: -13px;
  bottom: 0;
  right: 0;
  top: -10px;
  background-color: #999abd;
  position: absolute;
  z-index: -10;
  transition: background-color 0.5s;
}

.form-submit:hover::before {
  background-color: lightgreen;
}

.form-submit::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    #000475 0%,
    #0008ff 30%,
    #252bda 90%,
    var(--fortnite-deep-blue) 100%
  );
  background-color: none;
  transform: skew(-5deg);
  z-index: -1;
  transition: background-color 0.5s;
}

.form-submit:hover::after {
  background: none;
  background-color: green;
}

.consumable-update-form {
  display: grid;

  grid-template-areas:
    "input-name1 input1"
    "input-name2 input2"
    "input-name3 input3"
    "input-name4 input4"
    "input-name5 input5"
    "input-name6 input6"
    "input-name7 input7"
    "input-name8 input8"
    "submit submit";

  row-gap: 20px;
  column-gap: 250px;
  font-family: fortniteFont;
}

.heal-amount-label {
  grid-area: input-name5;
}

#heal-amount {
  grid-area: input5;
}

.shield-amount-label {
  grid-area: input-name6;
}

#shield-amount {
  grid-area: input6;
}

.effect-label {
  grid-area: input-name7;
}

#effect {
  grid-area: input7;
}

.consumable-update-form > .img-link-label {
  grid-area: input-name8;
}

.consumable-update-form > #img-link {
  grid-area: input8;
}

.utility-update-form {
  display: grid;

  grid-template-areas:
    "input-name1 input1"
    "input-name2 input2"
    "input-name3 input3"
    "input-name4 input4"
    "input-name5 input5"
    "input-name6 input6"
    "input-name7 input7"
    "submit submit";

  row-gap: 20px;
  column-gap: 250px;
  font-family: fortniteFont;
}

.max-stacks-label {
  grid-area: input-name5;
}

#max-stacks {
  grid-area: input5;
}

.description-label {
  grid-area: input-name6;
}

#description {
  font-family: fortniteFont;
  font-size: 1.5rem;
  grid-area: input6;
  resize: vertical;
}

.utility-update-form > .img-link-label {
  grid-area: input-name7;
}

.utility-update-form > #img-link {
  grid-area: input7;
}
